.ProductContainer
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    column-gap: 15px;
    row-gap: 15px;
    min-height: 100vh;
}


.ProductCard
{
    height: 450px;
    min-width: 400px;
    flex: 1;

    background-color: black;
    color: white;
    border-radius: 30px;
    overflow: hidden;
}

.ProductCard img
{
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.ProductCard h3
{
    margin-top: 10px;
    margin-left: 10px;
}
.ProductCard p
{
    margin-top: 10px;
    margin: 10px;
}
.ProductCard button
{
    margin-top: 10px;
    margin: 10px;

    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
}



