nav
{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

nav ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}